body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f9fdfa;
}

header {
  background: #e6f2e9; 
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.05);
  position: sticky;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 18px;
  color: #3a7d44; 
  user-select: none;
}

.logo img {
  width: 80px;       
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
}

li {
  display: flex;
  gap: 28px;
  }

li a {
  text-decoration: none;
  color: #3a7d44;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
  }

li a:hover,
li a:focus {
  color: #2f6c37;
  }

li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #3a7d44;
  transition: width 0.3s ease;
}

li a:hover::after,
li a:focus::after {
  width: 100%;
}

.bemvindo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
  background: #e6f2e9; 
  background-size: cover;
  background-position: center;
}

.bemvindo h1{
  color: #3a7d44; 
  font-size: 40px;
  margin-bottom: 16px;
}

.bemvindo p{
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.bemvindo a {
  display: inline-block;
  background: #1a4e22;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.bemvindo a:hover {
  background: #43914d;
}

.saibam {
  padding: 60px 20px;
  max-width: 1100px;
  margin: 0 auto;
}


.saibam h2 {
  text-align: center;
  color: #2f6c37;
  margin-bottom: 40px;
  font-size: 32px;
}


.artg, .areas, .dics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch; 
}

.art, .area, .dic {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.area, .art, .dic h3 {
  margin-top: 0px;
  color: #3a7d44;
}

.area:hover {
  transform: translateY(-5px);
}

.artgs h2 {
  text-align: center;
  color: #2f6c37;
  margin-bottom: 40px;
  font-size: 32px;
}

.art:hover {
  transform: translateY(-5px);
}

.dicas h2 {
  text-align: center;
  color: #2f6c37;
  margin-bottom: 40px;
  font-size: 32px;
}

.dic:hover {
  transform: translateY(-5px);
}

.sobre h2 {
  text-align: center;
  color: #2f6c37;
  margin-bottom: 40px;
  font-size: 32px;
}

.sobr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch; 
}

.sob {
  background: #e6f2e9; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.sob {
  margin-top: 0px;
  color: #3a7d44;
}